.footer {
  background: #ffffff;
  border-radius: 0px 150px 0px 0px;
  align-items: flex-end;
  padding: 25px;
  margin-top: 50px;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
}

.social-links > a {
  padding: 0px 20px;
}

.footer-text-1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  color: #000000;
}

.footer-divider {
  height: 5px;
  width: 20vw;
  background-color: #ff6363;
  margin: 0 auto 10px auto;
}

.footer-text-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.team-members-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.team-member {
  margin: 10px;
}

.team-member > a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .footer {
    border-radius: 0px 75px 0px 0px;
  }
}
