.Loginform {
  position: relative;
  background-image: url(../Images/background_login.png);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap");
.line {
  position: relative;
  border-bottom: 1px solid #ff6363;
}
.Loginform h2 {
  text-align: center;
  margin: auto;
  color: white;
}
.Loginform .box {
  padding: 0 50px;
  padding-bottom: 10px;
  height: 60vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  background-color: rgba(0, 2, 114, 0.6);
  border-radius: 3px;
}
.box .Credentials {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Userinfo {
  height: 40vh;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  background-color: rgba(122, 190, 214, 0.7);
  color: #08095a;
  font-family: "Lato";
  font-weight: bold;
  /* margin-bottom: 10%; */
  border-radius: 5px;
}
.Useralign {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.Loginform input {
  margin-left: 5%;
  border-radius: 5px;
  border: white;
}
.auth-button {
  align-content: center;
  align-self: center;
  justify-self: center;
  background-color: #08095a;
  color: white;
  border: 2px;
  border-radius: 2px;
  font-family: "Lato";
  border-radius: 4px;
}
.divid {
  width: 60%;
}
.divid input 
{
  width: 90%;
}
.header {
  display: flex;
  flex-direction: row;
  margin-left: 0%;
  font-weight: bold;
}
.Useralign label {
  margin-bottom: 25%;
}
.Useralign input {
  margin-bottom: 5%;
}
.info {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1100px)
{
  .Loginform h2 
  {
    margin: auto;
    font-size: 4vw;
  }
  .Loginform
  {
    overflow-y: hidden;
  }
  .Loginform .box
  {
    justify-content: space-evenly;
    width: 90vw;
  }
  .Loginform .auth-button
  {
    margin-bottom: 0%;
  }
}
@media screen and (max-width: 920px) {
  .Loginform h2 
  {
    margin: auto;
  }
}
@media screen and (max-width: 500px) {
  .Userinfo
  {
    width: 100%;
  }
  .Loginform .box
  {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
  }
  .Loginform h2 
  {
    font-size: 6vw;
  }
  .Loginform .auth-button
  {
    font-size: 4vw;
    padding: 0.5vh;
  }
}
