.schedule {
  min-height: 100vh;
  background: #acbcf7;
  padding-top: 74px;
  padding-bottom: 40px;
}

.schedule-content {
  background: rgba(0, 2, 114, 0.43);
  border-radius: 24px;
  padding-bottom: 40px;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

.workshop-day {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0px 20px 0px;
  margin: 0;
}

.workshop-day-day,
.workshop-day-date {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  color: #fcfcfc;
  text-align: center;
  padding: 0 10px;
}

.workshop-break {
  background: rgba(255, 99, 99, 0.66);
  border-radius: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  color: #ffffff;
  padding: 20px 0;
  margin: 20px 40px;
  text-align: center;
}

.workshop-schedule {
  background: #ffffff;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  margin: 20px 40px;
}

.workshop-schedule-name,
.workshop-schedule-time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  color: #000272;
  text-align: center;
}

.workshop-schedule-time {
  min-width: fit-content;
}

.day-end-line {
  background-color: #ff6363;
  height: 10px;
  margin-top: 60px;
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 5px;
}

@media only screen and (max-width: 950px) {
  .workshop-schedule {
    flex-direction: column;
  }
  .workshop-schedule-time {
    padding-top: 10px;
    font-size: 1.4em;
    font-weight: bolder;
    color: #c96582;
  }
}

@media only screen and (max-width: 600px) {
  .schedule-content {
    width: 90%;
  }
  .workshop-schedule,
  .workshop-break {
    margin: 20px;
  }
}

/* @media only screen and (max-width: 600px) {
  .workshop-day-day,
  .workshop-day-date {
    font-size: 2em;
  }
  .workshop-schedule {
    flex-direction: column;
  }

  .workshop-schedule-name {
    font-size: 1.4em;
  }

  .workshop-schedule-time {
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: bolder;
    color: #c96582;
  }
} */
