.title {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}

.left-lines,
.right-lines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25vw;
  align-items: flex-start;
}

.right-lines {
  align-items: flex-end;
}

.start-end-line, .start-end-line-blue {
  width: 64%;
  height: 10px;
  background-color: #b9d3f2;
}

.start-end-line-blue {
  background-color: #000272;
}

.middle-line {
  margin: 10px 0;
  height: 10px;
  width: 92%;
  background-color: #ff6363;
}

.title-text, .title-text-white {
  /* width: 45vw; */
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 5em;
  padding: 10px;
  text-align: center;
  color: #cccce2;
}

.title-text-white {
  color: #ffffff;
}

@media only screen and (max-width: 1100px) {
  .title-text, .title-text-white {
    font-size: 3.5em;
  }

  .start-end-line,
  .middle-line {
    height: 8px;
  }
}

@media only screen and (max-width: 775px) {
  .title {
    flex-direction: column;
    margin-top: 10px;
  }

  .left-lines,
  .right-lines {
    width: 90vw;
  }

  .right-lines {
    align-self: flex-end;
  }

  .start-end-line {
    width: 80%;
  }
}

@media only screen and (max-width: 450px) {
  .title-text, .title-text-white {
    font-size: 2.9em;
  }
}