.workshop-card {
  background: #ffffff;
  margin: 20px 10px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.workshop-card > img {
  border-radius: 24px;
  width: 350px;
  height: 200px;
}

.workshop-heading {
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.workshop-heading > p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  color: #000000;
  margin: 5px 0 0 0;
  max-width: fit-content;
}

.workshop-button {
  display: flex;
  padding: 0 30px;
  margin: 5px 0 0 0;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 50px;
}

.workshop-button > button {
  background: #ff6363;
  border-radius: 24px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  padding: 10px;
}
